body {
  user-select: none;
}

html,
body {
  background-color: #212121;
}

/* emoji-mart 検索フィールドのフォントサイズを 16px に */
.emoji-mart-search input {
  font-size: 16px !important;
}

.emoji-mart-category-label {
  font-family: 'Barlow';
}
